body{
    background-color: rgb(168, 170, 171);
}

.bond-paper{
    background-color: white;
    padding: 0;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    height: auto;
    display: grid;
    grid-template-columns: 30% auto;
    box-shadow: 7px 6px 5px -2px rgba(0, 0, 0, 0.66);
        -webkit-box-shadow: 7px 6px 5px -2px rgba(0, 0, 0, 0.66);
        -moz-box-shadow: 7px 6px 5px -2px rgba(0, 0, 0, 0.66);

}
/* Left */
.section-container{
    width: 100%;
}
.left-titles {
    background-color: #191970;
    text-align: center;
    color: white;
    padding: 5px;
    font-weight: bolder;
}
.left{
    background-color: #3d5a80;
    padding-top: 25px;
    padding-right: 0;
    padding-left: 0;
    
}
.right {
    padding-top: 30px;
    background-color: white;
    margin-bottom: 50px;
}

.custom-bg {
    background-color: white ;
}
.name {
    font-weight: bold;
    margin-bottom: 3px;
    color: white;
    
}

.designation{
    color: rgb(212, 212, 212);
    font-weight: lighter;
    margin-top: 3px;
}
/* Id pic */
.id-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 5px solid white;
    
}

/* Contact */
.contact table tr td{
    padding-right: 10px;
    padding-bottom: 7px;
    color: rgb(212, 212, 212);
}

.contact-link {
   color: rgb(212, 212, 212);
    
}

.contact-link:hover {
    color: lightblue;
    text-decoration: underline;
}




/* Technical profile */

div.skill-con {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.skills-container {
    width: 100%;
    background-color: gray;
    border-radius: 5px;
    margin-left: 5px;
    
}

p.skill-desc {
    margin: 1px;
    font-size: 14px;
    color:  rgb(212, 212, 212);
}

.skill {
    border-radius: 5px;
    padding-left: 5px;
    text-align: right;
}

/* tech skilss colors */
.html-css {
    background-color: orange;
    width: 70%;
    border: 1px solid rgb(197, 197, 197);
}

.java-script {
    background-color: yellow;
    width: 80%;
    border: 1px solid rgb(197, 197, 197);
}

.reactjs {
    background-color: #318CE7;
    width: 50%;
    border: 1px solid rgb(197, 197, 197);
}

.php {
    background-color: #926cbb;
    width: 25%;
    border: 1px solid rgb(197, 197, 197);
}

.mongoDB {
    background-color: #799744;
    width: 25%;
    border: 1px solid rgb(197, 197, 197);
}

.sql {
    background-color: #6f859a ;
    width: 65%;
    border: 1px solid rgb(197, 197, 197);
}

.nodejs{
    background-color: #00FF7F;
    width: 40%;
    border: 1px solid rgb(197, 197, 197);
}

/* Certificates */
.certification-title {
    margin: 0;
    font-weight: bold; 
}

.coding-certificates {
    padding-bottom: 10px;
}

.certificate-in-coding {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.certification-title a {
    color: rgb(212, 212, 212);
    text-decoration: underline;
}

.certification-title a:hover {
    color: gold;
}

.certicate-desc {
    padding-left: 10px;
    font-weight: lighter;
    color: rgb(212, 212, 212);
}

.certicate-desc a {
    text-decoration: underline;
    color: rgb(212, 212, 212);
}

.certicate-desc a:hover {
    color: gold;
}
.list-certification {
    margin-bottom: 10px;
}


/* Right Side */
/* Introduction */
.introduction {
    text-align: justify;
    text-indent: 1.5em;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

.mern-in-introduction {
    cursor: default;
}

.html-tooltip {
    cursor: default;
}

.css-tooltip {
    cursor: default;
}

.php-tooltip {
    cursor: default;
}
.intro-container {
    margin-bottom: 10px;
}

.right-title {
    text-align: center;
    background-color: #191970 ;
    color: white;
    padding: 5px;
    margin-bottom: 25px;
}

.right-section-container {
    width: 100%;
}



/* Work History */
.work-history-container {
    display: grid;
    grid-template-columns: 25% auto;
    margin-bottom: 18px;
    padding-left: 30px;
    padding-right:30px;
}
.left-work-container {
   font-size: 16px;
}

.work-history-left {
    font-size: 16px;
}

.sql-tooltip {
    cursor: default;
}

/* Job title */
.work-history-left h4 {
    margin: 0px;
    font-weight: 550;
}

.work-desc {
    padding-left: 5px;
    font-style: italic;
}

.work-history-left ul li {
    margin-bottom: 13px;
}

/* School */
.bsit-tooltip {
    cursor: default;
}


/* Media query < 768px */
@media only screen and (max-width: 768px) {
    .bond-paper {
        display: block;
        margin: 0;
    }

    .right {
        margin-bottom: 0;
        padding-bottom: 25px;
    }

    .introduction {
        padding: 0;
    }

    .work-history-container {
        padding-right: 0;
        padding-left: 0;
    }
}
