body{
    background-color: rgb(168, 170, 171);
}

.bond-paper{
    background-color: white;
    padding: 0;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
/* Left */
.left{
    background-color: #3d5a80;
    padding-top: 25px;
}
.right {
    background-color: white;
    padding-top: 30px;
}

/* Id pic */
.id-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 5px solid white;
    
}

/* Technical profile */

div.skill-con {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.skills-container {
    width: 100%;
    background-color: gray;
    border-radius: 5px;
}

p.skill-desc {
    margin: 1px;
    font-size: 12px;
}

.html-css {
    background-color: #A52A2A;
    width: 70%;
}

/* Certificates */
.certification-title {
    margin: 0;
    font-weight: bold;
}

.certicate-desc {
    padding-left: 10px;
    font-weight: lighter;
}

.list-certification {
    margin-bottom: 10px;
}


/* Right Side */
/* Introduction */
.introduction {
    text-align: justify;
    text-indent: 1.5em;
}

.right-title {
    text-align: center;
}

/* Work History */
.work-history-container {
    display: grid;
    grid-template-columns: 25% auto;
    margin-bottom: 18px;
}
.left-work-container,
.work-history-left {
    border: 1px solid black;
}

/* Job title */
.work-history-left h4 {
    margin: 0px;
    font-weight: 550;
}

.work-desc {
    padding-left: 5px;
    font-style: italic;
}

.work-history-left ul li {
    margin-bottom: 5px;
}


